/*
Custom CSS for 4chan
- Disfrutalo Anon -
- Enjoy Anon -
- PC and Movil -
*/

/*
Variantes: Borroso, Normal
*/

/* variables, para organizar esto!! */
:root {
    /* Fondos ########################### */
    --bg: rgb(6, 6, 6);
    --bg-reply-post: rgb(58, 58, 73);
    --bg-button: rgb(31, 31, 32);
    --bg-button-hover: rgb(55, 55, 55);
    --bg-allpage-blur-no-hover: blur(7px);
    --bg-back-UIPanel: rgba(0, 0, 0, 0.8);
    --bg-extPanel: rgba(13, 13, 14, 0.98);
    --bg-boardNav: rgb(30, 30, 34);
    --bg-thread: rgb(49, 49, 53);
    --bg-PostInfoMobile-reply-post: rgb(43, 43, 60);
    --bg-textarea: rgb(30,30,32);
    --bg-quick-reply: rgba(13, 13, 14, 0.65);
    --bg-texarea-quick-reply: rgba(255, 255, 255, 0.75);
    /* Box Shadows */
    --bg-reply-post-Box-Shadow: 0 0 15px rgba(0, 0, 0, 0.63);
    --extPanel-box-shadow: 0 0 30px rgba(25, 25, 25, 0.24);
    --post-preview-box-shadow: 0 10px 20px rgb(10, 10, 10);
    --bg-quick-reply-box-shadow: 0 0 40px 20px rgb(0, 0, 0, 0.6);
    /* ################################## */

    /* Enlaces ########################## */
    --a-color: #85a1cf;
    --a-color-PostInfoMobile-reply-post: rgb(23, 193, 255);
    --a-color-hover: rgb(126, 165, 248);
    --link-reply-post: #fdcbb7;
    --link-reply-post-hover: rgb(255, 201, 183);
    --img-a-color: rgb(255, 218, 209);
    --img-a-color-hover: rgb(255, 153, 128);
    --bg-boardNav-a: rgb(197, 197, 197);
    --a-visited: rgb(255, 81, 75);
    --a-visited-hover: rgb(39, 233, 255);
    --link-reply-post-visited-hover: rgb(253, 255, 135);
    --blancklink-color: rgb(117, 90, 255);
    --blancklink-color-visited: rgb(233, 51, 142);
    --blancklink-color-hover: rgb(183, 168, 255);
    --blancklink-color-hover-visited: rgb(255, 179, 215); 
    /* ################################## */

    /* Texto ############################ */
    --text-no-important: rgba(77, 80, 90, 0.534);
    --text: white;
    --text-invisible: rgba(0, 0, 0, 0);
    --mod-text: rgb(236, 71, 236);
    --button-text: white;
    --name-anon-color: aquamarine;
    --board-title-color: rgb(93, 127, 219);
    --green-text: rgb(75, 229, 87);
    --bg-text: rgb(43,43,42);
    --settings-tip-color: rgb(134, 134, 134);
    /* Texts Shadows */
    --link-reply-post-text-shadow: 0 0 10px rgba(255, 190, 160, 0.6);
    --a-text-shadow: 0 0 15px rgba(126, 165, 248);
    --a-file-text-text-shadow: 0 0 10px rgba(255, 190, 160, 0.6);
    --mod-text-shadow: 0 0 25px rgb(255, 59, 255);
    --blancklink-color-text-shadow: 0 0 15px rgba(117, 90, 255, 0.5);
    --blancklink-color-hover-visited-text-shadow:0 0 15px rgb(233, 51, 142, 0.6); 
    /* ################################## */

    /* Archivo */
    --table-border: 1.5px solid white;
    --table-list2-bg: rgb(26, 27, 28);
    --table-list2-bg-hover: rgb(47, 47, 50);
    --table-list1-bg-hover: rgb(17, 17, 19);
}

/*botones*/
.UIPanel button:hover {
    transform: scale(1.06,1.06);
    cursor: pointer;
    background: var(--bg-button-hover);
}
/*caja de configuraciones y mas*/

div .extPanel {
    padding: 15px;
    box-shadow: var(--extPanel-box-shadow);
    background: var(--bg-extPanel);
    color: white;
    border: none;
}

.UIPanel button {
    padding: 8px 15px 8px 15px;
    margin-top: 20px;
    transition: transform 0.4s, background 0.4s;
    background: var(--bg-button);
    border-radius: 5px;
    color: white;
    border: 0px;
}

#settingsMenu > div {
    max-height: 95%;
}

.UIPanel {
    background: var(--bg-back-UIPanel)
}

.UIPanel > div {
    left: 50%;
    transform: translateX(-50%);
    border-radius: 10px;
    margin: 0;
    position: fixed;
    width: 80%;
}

#settingsMenu label input {
    margin: 12px 10px 12px 10px;
}

.settings-tip {
    padding: 4px 0px 4px 35px;
    color: var(--settings-tip-color);
}

a {
    padding:8px;
    color: var(--a-color) !important;
    text-decoration-line: none !important;
    transition: color 0.4s, text-shadow 0.4s;
}

a:hover {
    color: var(--a-color-hover) !important;
    text-shadow: var(--a-text-shadow);
    
}

a:visited {
    color: var(--a-visited) !important;
}

a:visited:hover {
    color: var(--a-visited-hover) !important;
}

div.fileText a:hover {
    text-shadow: var(--a-file-text-text-shadow);
}

.burichan_new .backlink a, .yotsuba_b_new .backlink a {
    text-decoration-line: none;
    color: var(--blancklink-color) !important;
    letter-spacing: 1px;
    font-size: 11.4px;
    text-rendering: optimizeLegibility;
}
.burichan_new .backlink a:hover, .yotsuba_b_new .backlink a:hover {
    color: var(--blancklink-color-hover) !important;
    text-shadow: var(--blancklink-color-text-shadow);
    font-weight: 600;
}
.burichan_new .backlink a:visited, .yotsuba_b_new .backlink a:visited {
    color: var(--blancklink-color-visited) !important;
}
.burichan_new .backlink a:visited:hover, .yotsuba_b_new .backlink a:visited:hover {
    color: var(--blancklink-color-hover-visited) !important;
    text-shadow: var(--blancklink-color-hover-visited-text-shadow);
    font-weight: 600;
}

/* Enlaces de respuesta a otro post ############################################### */
.quoteLink, .quotelink, .deadlink {
    color: var(--link-reply-post) !important;
}

.quoteLink:visited, .quotelink:visited, .deadlink:visited {
    color: var(--a-visited) !important;
}

.quoteLink:visited:hover, .quotelink:visited:hover, .deadlink:visited:hover {
    color: var(--link-reply-post-visited-hover) !important;
}

.quoteLink:hover, .quotelink:hover, .deadlink:hover {
    color: var(--link-reply-post) !important;
    text-shadow: var(--link-reply-post-text-shadow);
    cursor: pointer;
}
/* ############################################################################### */

.extButton, img.pointer {
    padding: 6px;
}

#settings-exp-all {
    margin-top: 10px;
}

.UIPanel .center{
    margin-bottom: 20px;
}

.settings-cat-lbl img {
    width: 18px;
    height: 18px;
    margin-right: 10px;
}
#settingsMenu label {
    font-size: 13px;
    padding: none;
}

.settings-expand.pointer {
    font-size: 15px;
}

/* Navegacion */
div#boardNavDesktop a {
    padding-left: 6px;
    padding-right: 6px;
    color: var(--bg-boardNav-a) !important;
}

div#boardNavDesktop a:hover {
    color: var(--a-color-hover) !important;
}

div#boardNavDesktop a:visited {
    color: var(--a-visited) !important;
}

div#boardNavDesktop a:visited:hover {
    color: var(--a-visited-hover) !important;
}

#boardNavDesktop {
    padding: 5px 5px 35px 5px;
    margin: 0;
    background: var(--bg-boardNav);
}

#navtopright {
    padding: 10px 5px 10px 5px;
    font-size: 15px !important;
}

.navtopright {
    font-size: 12px;
}

/* la parte de abajo */
#boardNavDesktopFoot .boardList a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--bg-boardNav-a) !important;
    transition: color 0.5s, text-shadow 0.5s;
}

#boardNavDesktopFoot .boardList a:hover {
    color: var(--a-color-hover) !important;
    text-shadow: var(-a-text-shadow);
}

#boardNavDesktopFoot .boardList a:visited {
    color: var(--a-visited) !important;
}

#boardNavDesktopFoot .boardList a:visited:hover {
    color: var(--a-visited-hover) !important;
}

div#boardNavDesktopFoot {
    padding: 10px 10px 40px 10px;
    background: var(--bg-boardNav);
}

.navLinks.navLinksBot.desktop {
    margin: 15px 0 0 0;
    color: var(--text-no-important);
}

.btn-wrap::before {
    content: "";
    /* Nada */
}
.btn-wrap::after {
    content: "";
    /* Nada */
}


.open-qr-wrap {
    padding: 5px;
    margin: 5px 15px;
    width: 110px;
    height: auto;
    border-radius: 5px;
    background: var(--bg-button);
    color: var(--button-text);
    transition: transform 0.5s;
    position: inherit;
}

.open-qr-wrap:hover {
    background: var(--bg-button-hover);
    transform: scale(1.024,1.024);
}

.navLinks.desktop {
    margin: 5px 0;
    color: var(--text-no-important);
}

.navLinks.navLinksBot.desktop label input {
    color: var(--button-text);
}

.bottomCtrl {
    margin: 10px 0 20px 0;
}

.navbotright {
    margin: 10px 0 10px 0;
    background: var(--text-no-important);
}

span#navbotright {
    margin: 10px 0;
    padding: 4px 10px 4px 10px;
    background: rgb(30, 30, 34);
    font-size: 15px !important;
}

.boardList {
    color: var(--text-no-important);
}

.absBotDisclaimer {
    color: #c5c5c5;
}

/*cuerpo y estilos generales*/

/* Fuente para el texto, y otras cosas */
body {
    text-rendering: optimizeLegibility;
    background: var(--bg);
    color: white;
    font-family: 
    /* Fira Code, Beautiful Font!! >:) */
    Fira Code, 
    -apple-system, 
    Roboto, 
    Ubuntu, 
    Cantarell, 
    Noto Sans,
    'Open Sans', 
    sans-serif; 
}

/* Desactivado por Defecto, Podria molestar en un movil, activalo descomentando todo lo que encierra a html --> /* */
/*
html{
    filter: var(--bg-allpage-blur-no-hover);
    transition-delay: 1s, 250ms;
    transition: filter 0.4s;
}

html:hover{
    filter: none;
}
*/

/* los moderadores*/
span.nameBlock.capcodeMod .name.capcode,
span.nameBlock.capcodeMod strong {
    text-shadow: var(--mod-text-shadow);
    color: var(--mod-text) !important;
}

img.fileDeletedRes.retina {
    background: white;
}

span.postNum.desktop span a.replylink {
    color: var(--a-color) !important;
}

.identityIcon {
    transform: scale(1.08, 1.08);
}
.fileText {
    font-size: 12px;
}

.fileText a {
    color: var(--img-a-color) !important;
    font-weight: 500;
    font-size: 12px;
}

.fileText a:hover {
    color: var(--img-a-color-hover) !important;
}

#bannerCnt {
    border: none;
}

.boardTitle {
    color: var(--board-title-color) !important;
}

.postNum .desktop {
    color: #cedfff;
}

div.post div.postInfo span.subject {
    color: var(--a-color-hover);
}

div.post div.postInfo span.nameBlock span.name {
    color: var(--name-anon-color);
}

div.post div.postInfo span.postNum a:hover, .posteruid .hand {
    color: #b9b9b9;
    transition: background 0.4s;
}

div.post div.postInfo span.postNum a, .posteruid .hand {
    color: #cdd9ff;
}

div.post div.postInfo span.postNum a:hover, .posteruid .hand:hover {
    color: var(--a-color-hover) !important;
}

div.post div.postInfo span.postNum a:visited:hover, .posteruid .hand:visited:hover {
    color: var(--a-visited-hover) !important;
}

/*el Banner xd*/
div.boardBanner {
    margin: 40px 0 15px 0 !important;
}

.globalMessage.hideMobile {
    color: #5d7fdb;
}

.pagelist.desktop {
    background: rgb(24, 24, 26);
    border: none !important;
    transition: background 0.5s, color 0.5s;
}

div.pagelist div.pages a { 
    padding-left: 12px;
    padding-right: 12px;
    transition: background 0.5s, color 0.5s;
}

div.pagelist div.pages a:hover {
    background: rgb(45, 45, 49);
    color: white;
}

/*post*/
.post.reply {
    background: rgb(20, 20, 24);
    border: none;
    padding: 5px;
    transition: border-radius 0.5s, transform 0.5s, box-shadow 0.5s, max-width 0.4s;
}

div.post {
    margin: 2px 20px;
}

div.postContainer.opContainer {
    width: 100%;
}

@media only screen and ( max-width: 800px ) {
    /* las previas de los mensajes seran la exepcion */
    div#quote-preview .fileText {
        display: inherit;
    }
    div#quote-preview .fileText a {
        padding: 0;
    }
    /*Como veo que esto se sale del canvas en una anchura pequeña, espero que no te importe que este
    arriba :) */
    div#quote-preview {
        position: fixed !important;
        display: inline-block !important;
        left: 0 !important;
        top: 0 !important;
        width: 100%;
        height: auto;
        max-height: 45%;
        font-size: 11.3px !important;
        z-index: 100;
        border-radius: 0;
        /* Deberia de resaltar un poco */
        box-shadow: var(--post-preview-box-shadow) !important;
    }

    /* Omg las imagenes grandes */
    div#quote-preview.post.op.preview.reveal-spoilers .fileThumb {
        width: 10% !important;
        margin: 6px;
        display: block;
    }
    div#quote-preview.post.op.preview.reveal-spoilers img {
        height: auto !important;
        width: 100% !important;
    }
    div.post.reply.preview.reveal-spoilers .fileThumb
    div.post.reply.preview.reveal-spoilers img {
        height: auto !important;
        max-width: 30% !important;
        margin: 0;
    }
    /* el texto tiene que ocupar el espacio */
    div#quote-preview .postMessage {
        margin-right: 50px;
        margin: 0;
        text-align: left;
        display: block;
    }
}

@media only screen and ( max-width: 680px ) {
    /* cuando la anchura es reducida, originalmente la informacion del archivo se sale del canvas */
    .fileText {
        display: grid;
    }
    
    .fileText a {
        padding: 0 7px;
        width: max-content;
    }
}

.reply:target, .reply.highlight {
    border:none !important;
    background: var(--bg-reply-post) !important;
    box-shadow: 0 0 15px rgba(87, 87, 105, 0.596) !important;
    border-radius:5px;
    transform: scale(1.05,1.05);
}

/*intentar mejorar el escalado cuando el ancho sea grande, que no se salga!!*/ 
@media only screen and ( min-width: 1000px ) {
    .reply:target, .reply.highlight {
        transform: scale(1.026, 1.026);
    }
}

/* aqui lo desactivo, no se lo que podria pasar, en una pantalla ultra larga */
@media only screen and ( min-width: 2000px ) {
    .reply:target, .reply.highlight {
        transform: none;
    }
}

/*submenu post*/
.dd-menu ul {
    background-color: rgb(31, 31, 39);
    border: none;
}

.dd-menu li {
    padding: 8px 10px 8px 10px;
    border: none;
    transition: background 0.6s;
}

.dd-menu li:hover {
    background-color: rgb(49, 49, 63);
}

/*new post*/
table.postForm > tbody > tr > td:first-child {
    color: white;
    background-color: #375eca;
    border-radius: 6px;
    -moz-user-select: none;
    -webkit-user-select: none;
    user-select: none;
}

table.postForm input#postFile {
    padding: 8px 15px 8px 15px;
    margin-top: 20px;
    transition: transform 0.4s, background 0.4s;
    background: var(--bg-button);
    border-radius: 5px;
    color: white;
    border: 0;
}

table.postForm input[type = "text"] {
    background: var(--bg-text);
    color: var(--text);
}

table.postForm textarea {
    background: var(--bg-textarea);
    color: var(--text);
}

/*post op preview*/
.preview.reveal-spoilers {
    border: none !important;
    background: var(--bg-reply-post) !important;
    box-shadow: var(--bg-reply-post-Box-Shadow) !important;
    border-radius: 5px;
    padding: 10px;
}

/*Copy and paste hehehe*/
.post.reply.preview {
    border: none !important;
    background: var(--bg-reply-post) !important;
    box-shadow: var(--bg-reply-post-Box-Shadow) !important;
    border-radius: 5px;
    padding: 10px;
}

/* hmmm, el texto verde ...*/
span.quote {
    color: var(--green-text) !important;
}

/* a quitar esta linea */
div#ctrl-top.desktop hr {
    display: none;
}

/*movil*/
@media only screen and ( max-width:600px ){
    #settingsMenu > div{
        left: 50%;
        width: 100%;
    }
}

@media only screen and ( max-width:480px ) {
    /* Aqui el mensaje de previa no estara del todo arriba */
    div#quote-preview {
        top: 40px !important;
    }

    div.post div.postInfoM span.nameBlock span.name,
    div.postInfo span.nameBlock span.name {
        color: var(--name-anon-color);
        font-weight: 700;
    }

    div.post div.postInfoM{
        background-color: #29292e;
    }
    
    div.post div.postInfoM span.dateTime {
        float: right;
        text-align: right;
        color: white !important;
    }

    .reply:target, .reply.highlight{
        transform: none;
    }

    div#boardNavMobile.mobile {
        background-color: #2d2d33 !important;
        background: #2d2d33 !important;
        color: white !important;
        border: none;
        padding: 10px 0;
    }

    div#boardNavMobile.mobile strong {
        color: var(--text);
    }

    .is_index div.opContainer {
        background-color: #1c1c22;
        border: none !important;
    }

    div.opContainer {
        background: none;
        border: none;
    }

    .postInfoM.mobile {
        border: none !important;
    }

    div.post div.postInfoM span.postNum a, div.postInfo span.postNum a {
        color: #888888 !important;
    }
    div.post div.postInfoM span.postNum a, div.postInfo span.postNum a:hover {
        color: #5d7fdb !important
    }
    .nameBlock.capcodeMod {
       text-shadow: 0 0 25px rgba(236, 71, 236, 0.562); 
    }
    div.post div.postInfoM span.subject {
        color: #aaa8f5;
    }
    div.post {
        margin: 3px 0;
    }
    .postLink.mobile {
        background-color: #29292e;
        border: none;
    }
    .pageJump a {
        padding: 2px;
        padding-top: 15px;
        padding-bottom: 15px;
        font-size: 11.5px !important;
    }

    .button a:hover, a.button {
        color: var(--button-text) !important;
        border: none;
        background-image: none;
    }

    .button a:hover, a.button:hover {
        color: var(--button-text) !important;
    }

    .button {
        background-color: var(--bg-button);
        border: none;
        background-image: none;
        transition:background 0.5s;
        color:var(--button-text) !important;
    }

    .button:hover {
        background-color: var(--bg-button-hover);
    }

    .backlink.mobile {
        background-color: #232744 !important;
        box-shadow: 0 0 8px rgba(135, 147, 252, 0.226);
        border: none;
    }
    div.postLink span.info {
        color: #7a7ac7;
    }
    .backlink span:hover {
        color: var(--a-color-hover) !important;
    }
    .burichan_new .backlink a, .yotsuba_b_new .backlink a{
        color: var(--a-color-hover) !important;
    }
    div.postLink a {
        color: white !important;
    }

    /* agh, los mensajes resaltados */
    /* Para Movil o una anchura pequeña, no es necesario que esto este ahi */
    div.post.reply,div.reply.highlight{
        border-radius: 0 !important;
        box-shadow: none !important;
    }
    div.post.reply div.postInfoM.mobile {
        background: var(--bg-PostInfoMobile-reply-post);
    }
    div.postInfoM.mobile a {
        color: var(--a-color-PostInfoMobile-reply-post);
    }
}

/*
Hilos en modo catalogo.
Se Movio a un archivo aparte
*/

/* Modo Archivo ###################################################################### */

table#arc-list.flashListing {
    border: var(--table-border) !important;
}

table.flashListing {
    border-spacing: 2px;
}

@media only screen and ( max-width:850px ) {
    table#arc-list {
        max-width: none;
        width: 100%;
        margin: 0;
    }
}

table.flashListing tr {
    transition: background 0.4s;
}

/* de par en par, lo recuerdo por que soy malo en esto de los numeros */
table.flashListing tr:nth-of-type(odd) {
    background: var(--table-list2-bg) !important;
}
table.flashListing tr:nth-of-type(odd):hover {
    background: var(--table-list2-bg-hover) !important;
}
table.flashListing tr:nth-of-type(even):hover {
    background: var(--table-list1-bg-hover) !important;
}

td.postblock {
    background: var();
}

#arc-list a.quotelink {
    color: var(--a-color) !important;
    font-weight: bold;
}
#arc-list .quotelink:hover {
    color: var(--a-color-hover) !important;
    text-shadow: var(--a-text-shadow);
}
#arc-list .quotelink:visited {
    color: var(--a-visited) !important;
    text-shadow: var(--a-text-shadow);
}
#arc-list .quotelink:visited:hover {
    color: var(--a-visited-hover) !important;
    text-shadow: var(--a-text-shadow);
}
/* #################################################################################### */

/* pagina de busqueda ############### */
hr.desktop {
    display: none;
}
/* ################################## */

/* un pequeño problema es que la pagina no carga los estilos de los mensajes resaltados por primera vez :( */

/* caja de respuesta rapida ########################################################## */

div#quickReply {
    background: var(--bg-quick-reply);
    border: var(--table-border) !important;
    transition: background 0.5s, box-shadow 0.5s;
}
div#quickReply:hover {
    background: var(--bg-quick-reply-no-transparent);
    box-shadow: var(--bg-quick-reply-box-shadow);
}

div#quickReply input[type = "submit"] {
    padding: 8px 15px 8px 15px;
    background: var(--bg-button);
    color: var(--text);
    border: 0;
    transition: background 0.5s, transform 0.5s;
}

div#quickReply input[type = "submit"]:hover {
    transform: scale(1.06,1.06);
    cursor: pointer;
    background: var(--bg-button-hover);
}

div#quickReply input[type = "text"] {
    background: var(--bg-text);
    color: var(--text);
    font-family: 
    /* Fira Code, Beautiful Font!! >:) */
    Fira Code, 
    -apple-system, 
    Roboto, 
    Ubuntu, 
    Cantarell, 
    Noto Sans,
    'Open Sans', 
    sans-serif; 
}

div#quickReply div.t-qr-root button {
    padding: 8px 15px 8px 15px;
    background: var(--bg-button);
    color: var(--text);
    border: 0;
    transition: background 0.5s, transform 0.5s;
}

div#quickReply div.t-qr-root button:hover {
    transform: scale(1.06, 1.06);
    cursor: pointer;
    background: var(--bg-button-hover);
}

div#quickReply textarea {
    background: var(--bg-textarea);
    color: var(--text);
    /* las fuentes del texto */
    font-family: 
    /* Fira Code, Beautiful Font!! >:) */
    Fira Code, 
    -apple-system, 
    Roboto, 
    Ubuntu, 
    Cantarell, 
    Noto Sans,
    'Open Sans', 
    sans-serif; 
}

img#qrClose {
    transition: transform 0.5s;
}
img#qrClose:hover {
    transform: scale(1.1, 1.1);
    cursor: pointer;
}
/* ################################################################################### */